.DS_Store
.pyc
*.swp
node_modules
npm-debug.log
compiled/webppl.js
compiled/webppl.min.js

# Variational stuff
*.ad
variational_experiments/*/analysis/*
variational_experiments/*/gen_traces/*
variational_experiments/*/processed_data/*
variational_experiments/*/saved_params/*
variational_experiments/lsystem/targets/training/*
