.DS_Store
.pyc
*.swp
node_modules
npm-debug.log
compiled/webppl.js
compiled/webppl.min.js

# .adjs/VPF stuff
src/erp_scorers.js
src/bounds.js
vpf_experiments/targetsum/params.js
vpf_experiments/lsystem/params.js
vpf_experiments/*/results/*
