.DS_Store
.pyc
*.swp
node_modules
npm-debug.log
compiled/webppl.js
compiled/webppl.min.js

# Variational stuff
*.ad
variational_experiments/lsystem/nnSandbox.js
variational_experiments/lsystem/targets/training/*
variational_experiments/lsystem/analysis/*
variational_experiments/lsystem/gen_traces/*
variational_experiments/lsystem/processed_data/*
variational_experiments/lsystem/saved_params/*
variational_experiments/lsystem/guide_prior_compare/comparison.csv
